[submodule "PassButlerCommon"]
	path = PassButlerCommon
	url = ssh://git@github.com/passbutler/passbutler-common.git
	branch = main
[submodule "PassButlerLocalization"]
	path = PassButlerLocalization
	url = ssh://git@github.com/passbutler/passbutler-localization.git
	branch = main
